<%= form_for @link do |f| %>
<%= f.text_field :url, placeholder: "URL" %>
<%= f.text_field :title, placeholder: "Title" %>
<%= f.submit %></br>
<% end %>
</br>

<% @links.each do |link| %>
  <div class="link" data-link-id=<%= link.id %> >
    <%= link.title %></br>
    <span class="read-status"> <%= link.read %> </span>
    <%= link.url %> <button class='mark-as-read' >Mark as Read</button></br>
  </div>

<% end %>
</br>
