<%= form_for @link do |f| %>
<%= f.text_field :url, placeholder: "URL" %>
<%= f.text_field :title, placeholder: "Title" %>
<%= f.submit %></br>
<% end %>
</br>

<% @links.each do |link| %>
<%= link.title %></br>
<%= link.read %>
<%= link.url %> <button class='mark-as-read' type="submit">Mark as Read</button></br>
<% end %>
</br>
